<div class="categories-container">
  <ul class="categories">
    <% categories.forEach((category) => { %>
      <li class="categories-item <%= locals.selected && locals.selected === category ? 'selected-category-item' : '' %>">
        <a href="<%=category%>"><%= category %></a>
      </li>
    <% }) %>
  </ul>
</div>
