<div>
  <%- include('nav.ejs', { links: [
    { link: '/', text: 'Home'},
    { link:'/inventory/createItem', text: 'Create item' }, 
    { link: '/category/manage', text: 'Manage categories' }
  ] }) %>
</div>
