:root {
  --primary-bg-clr: #f9f7f7;
  --secondary-bg-clr: #3f72af;
  --secondary-text-clr: #e9ecf2;
  --primary-text-cl: #112d4e;
  font-family: 'Poppins', serif;
}

body {
  padding: 0 1rem;
  box-sizing: border-box;

}

.nav {
  padding: 1rem 0;
  font-weight: 600;
  display: flex;
  gap: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--primary-text-cl);
  opacity: 0.8;
  position: relative;
}

.nav-item a::before {
  content: '';
  position: absolute;
  background-color: var(--secondary-bg-clr);
  bottom: 0;
  width: 100%;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  transform-origin: left;

  transform: scaleX(0);
}

.nav-item a:hover {
  opacity: 1;
}

a:hover::before {
  height: 2px;
  transform: scaleX(1);
}

.categories-container {
  padding: 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
  background-color: var(--secondary-text-clr);
}

.categories {
  display: flex;
  gap: 1rem;
}

.categories-item {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--primary-bg-clr);
  opacity: 0.8;
}

.categories-item a {
  width: max-content;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-text-cl);
}

.selected-category-item {
  background-color: var(--secondary-bg-clr);
}

.selected-category-item a {
  color: var(--secondary-text-clr);
}

.categories-item:hover {
  opacity: 1;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.item {
  cursor: pointer;
  width: 200px;
  height: 205px;
  background-color: var(--primary-bg-clr);
  --border-radius: 0.3rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  padding: 0.2rem;
  border-radius: var(--border-radius);
}

.item:hover {
  opacity: 1;
}

.item-img-container {
  width: 100px;
  margin: 1rem auto;
  height: auto;
}

.item-img-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.item-name {
  font-weight: 500;
  margin-top: 0.2rem;
}

.item-field:nth-child(odd) {
  margin-top: 1rem;
}

.item-description {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 200;
  font-size: small;
}

.no-items{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-items-header{
  font-size: 2rem;
  font-weight: bold;
}