:root {
  --primary-bg-clr: #f9f7f7;
  --secondary-bg-clr: #3f72af;
  --secondary-text-clr: #e9ecf2;
  --primary-text-cl: #112d4e;
  font-family: 'Poppins', serif;
}

body {
  padding: 0 1rem;
  box-sizing: border-box;
  color: var(--primary-text-cl);
  max-width: 1854px;
  margin: auto;
}

.nav {
  padding: 1rem 0;
  font-weight: 600;
  display: flex;
}

.nav-item a {
  text-decoration: none;
  color: var(--primary-text-cl);
  opacity: 0.8;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-item a::before {
  content: '';
  position: absolute;
  background-color: var(--secondary-bg-clr);
  bottom: 0;
  width: 100%;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  transform-origin: left;

  transform: scaleX(0);
}

.nav-item a:hover {
  opacity: 1;
}

a:hover::before {
  height: 2px;
  transform: scaleX(1);
}

.categories-container {
  padding: 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
  background-color: var(--secondary-text-clr);
}

.categories {
  display: flex;
  gap: 1rem;
}

.categories-item {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--primary-bg-clr);
  opacity: 0.8;
}

.categories-item a {
  width: max-content;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-text-cl);
}

.selected-category-item {
  background-color: var(--secondary-bg-clr);
}

.selected-category-item a {
  color: var(--secondary-text-clr);
}

.categories-item:hover {
  opacity: 1;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.item {
  width: 200px;
  background-color: var(--primary-bg-clr);
  --border-radius: 0.3rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.item-img-container {
  width: 100%;
  height: 150px;
  margin: auto;
  margin-bottom: 1rem;
}

.item-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.item-name {
  font-weight: 500;
  margin-top: 0.2rem;
}

.item-field:nth-child(odd) {
  margin-top: 1rem;
}

.item-description {
  height: 30px;
  margin-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 200;
  font-size: small;
}

.no-items {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;

  align-items: center;
}

.no-items-header {
  font-size: 2rem;
  font-weight: bold;
}

.icons-container {
  display: flex;
  gap: 0.5rem;
  width: 60%;
}

.icon-wrapper {
  width: 15px;
  cursor: pointer;
}

.icon-wrapper img {
  width: 100%;
  height: auto;
}

.additions {
  display: flex;
}

.view-details {
  cursor: pointer;
  width: 40%;
  font-weight: 300;
  font-size: small;
}

.view-details a {
  text-decoration: none;
  color: var(--primary-text-cl);
}

.create-item-header {
  margin-bottom: 1rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}

.create-item-categories-wrapper .categories-container {
  width: 70%;
  height: auto;
  overflow-x: inherit;
  margin: auto;
}

.create-item-categories-wrapper .categories {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.inputs {
  width: 70%;
  margin: auto;
  margin-top: 4rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 500px;
}

.input-wrapper label {
  margin-bottom: 1rem;
}

input[type='file'] {
  outline: none;
  padding: 4px;
}

input[type='file']:focus-within::file-selector-button,
input[type='file']:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}

input[type='file']::before {
  top: 16px;
}

input[type='file']::after {
  top: 14px;
}

input[type='file'] {
  position: relative;
}

input[type='file']::file-selector-button {
  width: 136px;
  color: transparent;
}

input[type='file']::before {
  position: absolute;
  pointer-events: none;
  left: 40px;
  color: #0964b0;
  content: 'Upload File';
}

input[type='file']::after {
  position: absolute;
  pointer-events: none;
  left: 16px;
  height: 20px;
  width: 20px;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description,
.input-wrapper input:not([type='file']) {
  padding: 0.5rem;
  border: 0px;
  border-bottom: 2px solid var(--secondary-text-clr);
}

.input-wrapper select {
  width: 100%;
  padding: 0.5rem;
}

.description,
input {
  opacity: 0.9;
}

.description,
input:hover {
  opacity: 1;
}

label {
  font-size: small;
}

.submit {
  background-color: seagreen;
}

.delete,
.submit {
  color: var(--secondary-text-clr);
  border: none;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  padding: 0.5rem 1rem;
}

.submit:hover {
  opacity: 1;
}

form {
  margin-bottom: 1rem;
}

input[type='file'] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type='file']::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type='file']::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type='file']::file-selector-button:active {
  background-color: #e5e7eb;
}

.error {
  margin-left: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: crimson;
}

@media screen and (max-width: 425px) {
  .input-wrapper,
  .inputs {
    width: 100%;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
}

.description {
  resize: none;
  color: var(--primary-text-cl);
}

.delete {
  background-color: crimson;
}

.flex {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.minus-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: min-content;
}

table {
  font-family: 'Poppins', serif;
  font-size: 0.8rem;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  border-radius: 5px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: var(--primary-text-clr);
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  font-weight: bold;
  padding-top: 12px;
  text-align: left;
  padding-bottom: 12px;
}

.details-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  flex: 2;
}

.details-image-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.details-image-container img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid var(--primary-text-cl);
}
